body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
  width: 800px;
  margin: 100px auto;
  margin-top: 10px;
}
.progressbar {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
  z-index: 2;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  z-index: 2;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -43%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}
/*pending matter*/
.progressbar li.pending {
  color: #f1c40f;
}
.progressbar li.pending:before {
  border-color: #f1c40f;
}
.progressbar li.pending + li:after {
  background-color: #f1c40f;
}
.progressbar li.reject {
  color: red;
}
.progressbar li.reject:before {
  border-color: red;
}
.progressbar li.reject + li:after {
  background-color: red;
}
