.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background:rgba(255,255,255,0.5);
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}
